# Your auth token for the topic
NTFY_AUTH_TOKEN=tk_YOUR_TOKEN
# Set your self hosted ntfy server: https://ntfy.example.com
NTFY_HOST_URL=YOUR_NTFY_HTTPS_SERVER
# Your topic that will be used for posting the webhook received notifications
NTFY_TOPIC=YOUR_TOPIC
